body{
    background-color: #faebd7;
    text-align: center;
    font-size: 30px;
}

.container1{
    border: solid red 10px;
    background-color: aqua;
    margin: 50px auto;
    padding: 10px;
    height: 400px;
    width: 90%;
}

#box1{
    border: solid blue 5px;
    background-color: coral;
    height: 50px;
    width: 200px;
    margin: 5px;
}

#box2{
    border: solid blue 5px;
    background-color: coral;
    height: 50px;
    width: 200px;
    margin: 5px;
}

#box3{
    border: solid blue 5px;
    background-color: coral;
    height: 50px;
    width: 200px;
}


.container2{
    border: solid rgb(68, 7, 233) 10px;
    background-color: rgb(0, 255, 21);
    margin: 50px auto;
    padding: 10px;
    height: 300px;
    width: 90%;
}

#box4{
    border: solid blue 5px;
    background-color: coral;
    height: 50px;
    width: 200px;
    float: left;
    margin: 5px;
}

#box5{
    border: solid blue 5px;
    background-color: coral;
    height: 50px;
    width: 200px;
    float: left;
    margin: 5px ;
    margin-left: 600px;
}

#box6{
    border: solid blue 5px;
    background-color: coral;
    height: 50px;
    width: 200px;
    margin: 5px;
    float: right;
}