body {
    background-color: antiquewhite;
    text-align: center;
    font-size: 25px;
}

header {
    border: solid brown 5px;
    background-color: aqua;
    height: 180px;
    width: 95%;
    margin-left: 30px;
    position: fixed;
    z-index: 1;
}

#logo {
    color: darkmagenta;
    float: left;
}

#navbar {
    border: solid blue 4px;
    padding: 3px;
    float: left;
    margin-left: 800px;
}

a {
    border: solid rgb(152, 141, 141) 2px;
    background-color: darkcyan;
    text-decoration: none;
}


a:hover {
    background-color: blueviolet;
}

#social {
    color: darkblue;
    float: right;
}

/* section {
    border: solid brown 5px;
    background-color: darkseagreen;
    width: 95.8%;
    height: 850px;
    margin-left: 30px;
    position: relative;
    top: 200px;
} */

#other{
    border: solid black 5px;
    background-color: aqua;
    height: 600px;
    width: 25%;
    position: fixed;
    top: 200px;
    margin-left: 30px;
}

main{
    border: solid black 5px;
    background-color: rgb(12, 141, 33);
    width: 70%;
    position: relative;
    top: 195px;
    left: 550px;
    font-size: 30px;

}

footer {
    border: solid brown 5px;
    background-color: coral;
    width: 95%;
    height: 120px;
    margin-left: 30px;
    position: fixed;
    top: 815px;
}